name: Node CI

on:
  push:
    branches: [master]

jobs:
  build:
    name: Build Checks
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
    steps:
      - uses: actions/checkout@v1
      - name: nodeJS unit test
        run: |
          npm install
          npm i -D mocha supertest
          npm run test

      - uses: actions/checkout@v1
      - name: reactJS unit test
        env:
          CI: false
        run: |
          cd client
          npm install
          npm run build
          ls

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - uses: actions/checkout@v1
      - name: Install Heroku
        run: |
          sudo snap install --classic heroku
      - name: Setup heroku
        run: |
          cat >~/.netrc <<EOF
          machine api.heroku.com
            login ${{ secrets.EMAIL }}
            password ${{ secrets.API_KEY }}
          machine git.heroku.com
            login ${{ secrets.EMAIL }}
            password ${{ secrets.API_KEY }}
          EOF
      - name: Git setup
        run: |
          git config --global user.name Nimish Shah
          git config --global user.email nimishshah2000@gmail.com
          git commit -am 'DeployCommit'
          heroku git:remote -a easyshopindia
      - name: Deploy
        run: |
          git push heroku master
